<div class="form-field">
  <!-- TextField -->
  <mat-form-field appearance="fill" *ngIf="field.type === 'TextField'">
    <mat-label>{{ field.name }}</mat-label>
    <input matInput [(ngModel)]="field.value" [attr.maxlength]="field.maxLength" (ngModelChange)="onFieldChange()">

    <!-- Max Length Error -->
    <mat-error *ngIf="!isMaxLengthValid">
      Max length exceeded. Maximum allowed is {{ field.maxLength }} characters.
    </mat-error>

    <!-- Pattern Error -->
    <mat-error *ngIf="!isPatternValid">
      Invalid format. Please follow the pattern: {{ field.pattern }}.
    </mat-error>
  </mat-form-field>

  <!-- TextArea -->
  <mat-form-field appearance="fill" *ngIf="field.type === 'TextArea'">
    <mat-label>{{ field.name }}</mat-label>
    <textarea matInput [(ngModel)]="field.value" [attr.maxlength]="field.maxLength"
      (ngModelChange)="onFieldChange()"></textarea>
    <mat-error *ngIf="!isMaxLengthValid">
      Max length exceeded. Maximum allowed is {{ field.maxLength }} characters.
    </mat-error>
    <mat-error *ngIf="!isPatternValid">
      Invalid format. Please follow the pattern: {{ field.pattern }}.
    </mat-error>
  </mat-form-field>

  <!-- Checkbox -->
  <div *ngIf="field.type === 'Checkbox'">
    <mat-label>{{ field.name }}</mat-label>
    <div *ngFor="let option of field.options">
      <mat-checkbox [(ngModel)]="field.value[option]" (change)="onFieldChange()">
        {{ option }}
      </mat-checkbox>
    </div>
    <mat-error *ngIf="!isPatternValid">
      Invalid format. Please follow the pattern: {{ field.pattern }}.
    </mat-error>
  </div>

  <!-- Dropdown -->
  <div *ngIf="field.type === 'Dropdown'">
    <mat-form-field appearance="fill">
      <mat-label>{{ field.name }}</mat-label>
      <mat-select [(ngModel)]="field.value" (ngModelChange)="onFieldChange()">
        <mat-option *ngFor="let option of field.options" [value]="option">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="!isPatternValid">
      Invalid format. Please follow the pattern: {{ field.pattern }}.
    </mat-error>
  </div>

  <!-- Radio Button -->
  <div *ngIf="field.type === 'RadioButton'">
    <mat-label>{{ field.name }}</mat-label>
    <mat-radio-group [(ngModel)]="field.value" (change)="onFieldChange()">
      <mat-radio-button *ngFor="let option of field.options" [value]="option">
        {{ option }}
      </mat-radio-button>
    </mat-radio-group>
    <mat-error *ngIf="!isPatternValid">
      Invalid format. Please follow the pattern: {{ field.pattern }}.
    </mat-error>
  </div>

  <button mat-icon-button color="warn" (click)="removeField()">
    <img src="assets/delete.svg" alt="Delete" class="delete-icon" />
  </button>
</div>